src/Gus.Regon.BIR11.Proxy/Models/DanePobierzRaportZbiorczy/BIR11SkresloneJednostkiLokalne.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema id="BIR11SkresloneJednostkiLokalne" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="dane" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="regon" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="14"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	    </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
